.bg-image {
    height: 100%;
    background-size: cover;
    background-image: url("../images/golf2.png");
}

header {
    color: white;
    background-color: transparent;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.drag-zone {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-8%, -50%);
    z-index: 2;
    width: 40%;
    padding: 145px;
    text-align: center;
    height: auto;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 1px;
    text-align: centerx;
    height: 70%;
}

.drop-zone {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-8%, -50%);
    z-index: 2;
    width: 40%;
    padding: 145px;
    text-align: right;
    height: auto;
}

input[type="email"],
input[type="password"] {
    width: 72%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.signup {
    color: #474e5d;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


/* Full-width input fields */

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


/* Add a background color when the inputs get focus */

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for all buttons */

button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

#submitbutton {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

#submitbutton:hover {
    opacity: 1;
}

button:hover {
    opacity: 1;
}


/* Extra styles for the cancel button */

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}


/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}


/* Add padding to container elements */

.container {
    padding: 16px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}


/* ----------------------------------------------
Beginning of leaderboard page formatting */

body#lb {
    background-size: cover;
    background-image: url("../images/golfballs.jpeg");
}

.leaderboard-container {
    margin-top: 20px;
}


/* .lb-trow:nth-child(1) {
    /* font-size: 36px;
} */

*/ .leaderboard-container .partEarningsHeader {
    text-align: right;
    padding-right: 30px;
}

.leaderboard-container .partEarnings {
    text-align: right;
    padding-right: 80px;
}

.leaderboard-container .table-striped>tbody>tr:nth-child(2n+1)>td,
.leaderboard-container .table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: rgb(201, 231, 181);
}

.leaderboard-container thead {
    font-size: 18px;
    background: rgba(201, 199, 199, 0.623);
}

.golden-ball {
    height: 40px;
    width: 40px;
    margin: -8px 0px -8px 10px;
    border: solid 1px rgba(128, 128, 128, 0.24);
}

.silver-medal,
.bronze-medal {
    height: 40px;
    width: 30px;
    margin: -8px 0px -8px 15px;
    border: solid 1px rgba(128, 128, 128, 0.24);
}

.leaderboard-container .table-striped {
    border: solid 1px rgba(104, 103, 103, 0.651);
    margin-top: 15px;
}


/* End of leaderboard page formatting
---------------------------------------------- */


/* ----------------------------------------------
Beginning of participant add/delete page code */

body#pa {
    background-image: url("../images/flying-ball.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}

.my-custom-scrollbar {
    position: relative;
    height: 75vh;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.partAdmin-container {
    margin-top: 20px;
}

.partAdmin-container .table-striped>tbody>tr:nth-child(2n+1)>td,
.partAdmin-container .table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: rgb(203, 215, 238);
}

.partAdmin-container thead {
    font-size: 18px;
    background: rgba(201, 199, 199, 0.623);
}

.partAdmin-container .table-striped {
    border: solid 1px rgba(104, 103, 103, 0.651);
    margin-top: 15px;
}

.partAdmin-container .partActionHeader {
    text-align: center;
}

.partAdmin-container .delete-participant {
    margin: -5px 10px -5px 0px;
    width: 100%;
}

.partAdmin-container .btn-success {
    margin-top: 10px;
    width: 100%;
}


/* End of participant add/delete page code formatting
---------------------------------------------- */